li {
    display: inline;
    margin-right: 60px;
    margin-left: 60px;
    margin-top: 25px;
    }

    .navbar {
        min-height: 150px;
        font-size:30px !important;
      }

      section {
        display: block;
      }
      a {
      background: #69c;
      color: #fff;
      padding: 5px 10px;
  } 
      canvas {
         margin-right: 100px;
        margin-left: 150px; 
        margin-top: 25px;
        display: inline;
        background: #fff;
        width: 30%;
      }
      
      .btn-disabled {
        color: #fff !important;
      }
      
      .canvas__container {
        display: flex;
        justify-content: center;
        align-items: center;
        } 
      
      .Btn {
        background-color: rgba(255, 0, 0, 0.4); 
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
         margin: 20px 40px;  
        cursor: pointer;
      }
      

      input[type=file]{
        background-color:rgba(255, 0, 0, 0.4); 
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 60px 150px; 
        cursor: pointer;
      }

      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      body {
        background-image: url('bg.jpg');
      }

      #container {
        width: 200px;
        height: 200px;
        margin: 0 auto;
        text-align: center;
      }
    
      footer {
        position: fixed; 
        left: 0;
        bottom: 0;
        width: 100%;
        background-color:rgb(0, 0, 0);
        color: white;
        text-align: center;
      }