.navbar {
  min-height: 50px;
  background-color: white;
}

canvas {
  margin-top: 2%;
  display: block;
  background: rgba(172, 163, 163, 0);
  width: 30%;
}

.canvas__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto; 
  } 

.button {
  background-color: white; 
  border-radius: 60px;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  margin-left: 46%;
  margin-top: 25px;
  cursor: pointer;
}

.instagrampic{
  background-color: white; 
  border-radius: 60px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-weight: bolder;
  font-size: 16px;
  margin-top:2%;
  width:220px;
  margin-right: 5%;
  cursor: pointer;
}

.fileupload{
  background-color: white;
  border-radius: 60px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-weight: bolder;
  font-size: 16px;
  margin-top:2%;
  width:220px;
  cursor: pointer;
}

.getpicture{
  background-color: white; 
  border-radius: 60px;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  font-weight: bolder;
  font-size: 15px;
  margin-top:1%; 
  width:150px;
  margin-left: 2%;
  cursor: pointer;
}

#usernameInput{
  margin-left: 33%;
}

img {
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #f3656d !important;
  padding-bottom: 100px;
@media (max-width: 979px) {
  body {
    padding-bottom: 10px;
  }
}
}

#container {
  width: 200px;
  height: 200px;
  margin: auto;
  text-align: center;
  justify-content: center;
}

 footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f3656d ;
  color: white;
  text-align: center;
} 

.item {
  padding-top: 2%;
  text-align: center;
  /* color: white; */
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
}


.heading {
  font-size: 30px;
  font-style: bold;
  font-family: 'Trattatello';
}

.facts {
  font-family: cursive;
  font-size: 20px;
}

a:hover, a:visited, a:link, a:active {
  color: black;
  text-decoration: none;
}

p {
  font-size: 25px;
  font-family: 'Calibri';
  color: white;
}

.icon-bar {
  position: fixed;
  top: 55%;
  right: 0%;
  /* -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%); */
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 9px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}

 