<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../css/styles.css">
  <title>website</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <meta name=viewport content='width=700'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="../script/image.js"></script>
</head>

<!--navbar-->
 <nav class="navbar" navbar-expand-md bg-light>
    <ul class="navbar-nav">
      
      <img src="https://www.hibiscusfoundation.org/images/logo.png" alt="logo" style="width:250px;">
      
    </ul>
  </nav> 

  <!--main buttons-->
  <button class="insta" onclick="displayinsta()">INSTAGRAM</button>
  <button class="upload" onclick="display()">UPLOAD PHOTO</button>

  <!--adding frame-->
  <input type='file' onchange="readURL(this);" accept="image/*" id="uploadpic" style="display: none"/>
  <img id="blah" src="#" style="display: none" /> 
  <img id="image1" class="image" src="frame.png" width="1" /> 
  <script> document.getElementById('image1').style.visibility = 'hidden'; </script>
  <br> 
  <div class="canvas__container">
    <button class="Btn" onclick="addFrame()" id="addframe" style="display: none">ADD FRAME</button><br>
    <canvas id="canvas" class="result"></canvas>
    <script>document.getElementById('btndownload');
      var link = document.createElement('a');
    link.innerHTML = 'download image';
    link.addEventListener('click', function (ev) {
      link.href = canvas.toDataURL();
      link.download = "myimage.png";
    }, false);
    document.body.appendChild(link);
    </script>
  </div> 
  <!-- Footer -->
 <footer class="page-footer font-small white">
 <a href="https://www.facebook.com/hibiscused/" target="_blank">
 <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_six-512.png" height="50"></a>
 <a href="https://www.linkedin.com/company/hibiscus-foundation/" target="_blank">
 <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_six_gray-512.png" height="50"></a>
 <a href="https://www.instagram.com/_hibiscused_/" target="_blank">
 <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/instagram_six-512.png" height="50"></a>
</footer>
</body>
</html>