 <!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../css/styles.css">
  <title>website</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <meta name=viewport content='width=700'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="../script/image.js"></script>
</head>

<!--navbar-->
 <nav class="navbar navbar-expand-md bg-light">
  <a class="navbar-brand" href="#">
    </a>
    <ul class="navbar-nav">
      
      <img src="https://www.hibiscusfoundation.org/images/logo.png" alt="logo" style="width:250px;">
      
    </ul>
  </nav>

  <!--adding frame-->
  <input type='file' onchange="readURL(this);" accept="image/*"/>
  <img id="blah" src="#" alt="your image"  />
  <img id="image1" class="image" src="frame.png" width="1" /> 
  <script> document.getElementById('image1').style.visibility = 'hidden'; </script>
  <br> 
  <div class="canvas__container">>
    <button class="Btn" onclick="addFrame()">ADD FRAME</button><br>
    <canvas id="canvas" class="result"></canvas>
    <script>document.getElementById('btndownload');</script>
  </div> 
  <!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://www.hibiscusfoundation.org">hibiscusfoundation.org</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</body>
</html>